<div class="docker-manager">
  <h1>Upgrade</h1>

  <div>
    {{#if showBanner}}
      <div id="banner">
        <div id="banner-content">
          <div class="close" {{action "dismiss"}}>
            <i class="fa fa-times" title="Dismiss this banner."></i>
          </div>

          {{#each banner as |row|}}
            <p>{{{row}}}</p>
          {{/each}}
        </div>
      </div>
    {{/if}}

    <div class="nav nav-tabs">
      {{#link-to "upgrade.index" class="nav-link"}}Versions{{/link-to}}
      {{#link-to "upgrade.processes" class="nav-link"}}Processes{{/link-to}}
    </div>

    {{outlet}}
  </div>
</div>
