<div class="admin-controls">
  <nav>
    <ul class="nav nav-pills">
      <li>
        <LinkTo @route="upgrade.index">
          Versions
        </LinkTo>
      </li>

      <li>
        <LinkTo @route="upgrade.processes">
          Processes
        </LinkTo>
      </li>
    </ul>
  </nav>
</div>

<div class="docker-manager">
  {{#if showBanner}}
    <div id="banner">
      <div id="banner-content">
        <div class="close" {{action "dismiss"}}>
          <i class="fa fa-times" title="Dismiss this banner."></i>
        </div>

        {{#each banner as |row|}}
          <p>{{{row}}}</p>
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{outlet}}
</div>
