{{#if this.currentUser.admin}}
  {{#unless @versionCheck.upToDate}}
    <div class="upgrades-banner">
      {{i18n "admin.docker.outdated_notice"}}

      <LinkTo @route="upgrade">
        {{i18n "admin.docker.perform_update"}}
      </LinkTo>
    </div>
  {{/unless}}
{{/if}}