/* Put your CSS here */
@import 'bootstrap';

$tertiary: #0088cc !default;
$shadow:   0 0 8px rgba(0, 0, 0, 0.6) !default;

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

html{
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  padding: 15px;
}

.container {
  padding: 0;
}

.back-site {
  margin-bottom: 10px;
}

header {
  img.logo {
    width: 150px;
  }

  a[href] {
    text-decoration: none;
    color: black;
  }
  h1 {
    font-size: 1.8em;
    margin: 0;

    a {
      float: right;
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

div.logs {
  margin-top: 20px;
  overflow-x: scroll;
  height: 400px;
  white-space: pre;
  font-family: monospace;
  background-color: black;
  color: #ddd;
  padding: 10px;
}

.check-circle {
  height: 15px;
}

table#repos {
  margin-top: 10px;

  td:first-child {
    width: 3%;
    padding-left: 8px;
  }
  th {
    border-top: none;
  }

  td, th {
    padding: 8px 15px 8px 0px;
  }

  button {
    padding-left: 15%;
    padding-right: 15%;
  }
}

h3.loading {
  display: none;
}

.new-version {
  h4 {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 14px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
  }

  li.new-commits {
    font-style: italic;
  }

  button {
    display: block;
    padding: 2px 5px;
    margin: 10px 0 0px 0;
  }
}

button.btn {
  background: #00aaff;
  color: white !important;
  border-radius: 0;

  &:hover {
    background-color: #0081c2;
  }

  &:disabled {
    background-color: #666;
    color: #ccc !important;
  }
}

button.unlock {
  float: right;
  background-color: red;
  &:hover {
    background-color: #a00;
  }
}

#banner {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background: scale-color($tertiary, $lightness: 90%);
  @include box-shadow(0 1px 2px scale-color($tertiary, $lightness: 70%));
  max-width: 1140px;

  .close {
    font-size: 20px !important;
    margin-top: -10px !important;
  }
}

div.progress {
  margin-top: 20px;
  margin-bottom: 20px;
}

th {
  border-top: none;
}

ul.nav-tabs {
  width: 100%;
  margin-bottom: 15px;
}
