/* Put your CSS here */

$tertiary: #0088cc !default;
$shadow:   0 0 8px rgba(0, 0, 0, 0.6) !default;

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

html{
  margin: 20px;
  overflow-y: scroll;
  overflow-x: auto;
}

header {
  img.logo {
    width: 200px;
    float: left;
  }

  a[href] {
    text-decoration: none;
    color: black;
  }
  h1 {
    text-align: right;
    font-size: 2em;
  }
  clear: both;
}

div.logs {
  margin-top: 20px;
  overflow-x: scroll;
  height: 400px;
  white-space: pre;
  font-family: monospace;
  background-color: black;
  color: #ddd;
  padding: 10px;
}

table#repos {
  margin-top: 10px;
}

h3.loading {
  display: none;
}

.new-version {
  h4 {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 14px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li.new-commits {
    font-style: italic;
  }

  button {
    display: block;
    padding: 2px 5px;
    margin: 10px 0 0px 0;
  }
}

button.btn {
  background: #00aaff;
  color: white !important;
  border-radius: 0;

  &:hover {
    background-color: #0081c2;
  }

  &:disabled {
    background-color: #666;
    color: #ccc !important;
  }
}

button.unlock {
  float: right;
  background-color: red;
  &:hover {
    background-color: #a00;
  }
}

#banner {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background: scale-color($tertiary, $lightness: 90%);
  @include box-shadow(0 1px 2px scale-color($tertiary, $lightness: 70%));
  max-width: 1140px;

  .close {
    font-size: 20px !important;
    margin-top: -10px !important;
  }
}

th {
    border-top: none;
}
