.dashboard-stats .upgrade-header {
  background: var(--danger-low);
  margin-bottom: 2rem;
  padding: 1rem;

  a {
    color: var(--danger);
    font-weight: bold;
  }
}

.docker-manager {
  .console-logs {
    background-color: black;
    color: #ddd;
    font-family: monospace;
    height: 400px;
    margin-top: 20px;
    overflow-x: scroll;
    padding: 10px;
    white-space: pre;
  }

  .check-circle {
    color: var(--success);
  }

  table#repos {
    margin-top: 10px;

    td:first-child {
      width: 3%;
      padding-left: 8px;
    }

    th {
      border-top: none;
    }

    td,
    th {
      padding: 8px 15px 8px 0px;
    }

    button {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  .new-version {
    h4 {
      margin: 0 0 10px 0;
      font-weight: bold;
      font-size: 14px;
    }

    ul {
      list-style: none;
      margin: 0 0 10px 0;
      padding: 0;
    }

    li.new-commits {
      font-style: italic;
    }
  }

  span.commit-hash {
    color: #959595;
  }

  button.unlock {
    float: right;
    background-color: red;
    &:hover {
      background-color: #a00;
    }
  }

  #upgrade-all {
    float: right;
  }

  #banner {
    margin: 1rem 0;

    p:first-of-type {
      margin-top: 0;
    }
  }

  div.progress {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  th {
    border-top: none;
  }

  ul.nav-tabs {
    width: 100%;
    margin-bottom: 15px;
  }
}
