.dashboard-stats .upgrades-banner {
  background: var(--tertiary-low);
  flex: 1 1 100%;
  margin-bottom: 2rem;
  padding: 1rem;

  &.upgrade-needed {
    background: var(--danger-low);

    a {
      color: var(--danger);
    }
  }

  a {
    font-weight: bold;
  }
}

.docker-manager {
  h1 {
    margin-top: 1rem;
  }

  .console-logs {
    background-color: var(--secondary-very-high);
    color: var(--primary-900);
    font-family: monospace;
    height: 400px;
    margin-top: 1rem;
    overflow-x: scroll;
    padding: 1rem;
    white-space: pre;
  }

  .check-circle {
    color: var(--success);
  }

  table#repos {
    margin-top: 1rem;

    td:first-child {
      width: 3%;
      padding-left: 8px;
    }

    th {
      border-top: none;
    }

    button {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  .new-version {
    h4 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0 0 1rem 0;
    }

    ul {
      list-style: none;
      margin: 0 0 1rem 0;
      padding: 0;
    }

    li.new-commits {
      font-style: italic;
    }
  }

  .commit-hash {
    color: #959595;
  }

  .upgrade-actions {
    display: flex;
    justify-content: space-between;

    button.unlock {
      background-color: var(--danger);
      color: var(--secondary);

      &:hover,
      &:focus {
        background-color: var(--danger-hover);
      }
    }
  }

  #banner {
    margin: 1rem 0;

    p:first-of-type {
      margin-top: 0;
    }
  }

  .progress-bar {
    background: var(--secondary-very-high);
    height: 1.5rem;
    margin-bottom: 1rem;

    &-inner {
      --stripes: linear-gradient(
        135deg,
        var(--tertiary-400) 25%,
        var(--tertiary-600) 25%,
        var(--tertiary-600) 50%,
        var(--tertiary-400) 50%,
        var(--tertiary-400) 75%,
        var(--tertiary-600) 75%,
        var(--tertiary-600)
      );

      background: var(--tertiary-600);
      background-image: var(--stripes);
      background-size: 2rem 2rem;
      height: 100%;
    }

    &.active .progress-bar-inner {
      animation: progress-bar-stripes 1.5s linear infinite;
      transition: width 0.6s ease;

      @media screen and (prefers-reduced-motion: reduce) {
        animation: none;
        transition: none;
      }
    }

    @keyframes progress-bar-stripes {
      from {
        background-position: 0 0;
      }

      to {
        background-position: 2rem 0;
      }
    }
  }

  .repo__name {
    font-weight: bold;
  }

  .repo__author {
    font-size: var(--font-down-2);
    padding: 0 0 0.25em 0;
  }

  .repo__new-version {
    font-size: var(--font-down-1);
    font-weight: bold;
    padding: 0.25em 0 0 0;
  }

  .repo__about {
    padding: 0.25em 0 0.25em 0;

    a {
      color: var(--primary-700);
      text-decoration: underline;
    }
  }

  ul.repo__latest-version {
    list-style: none;
    margin: 0;
  }

  tr.repo {
    td {
      padding: 1em 0;
    }

    &.new-version {
      background-color: var(--tertiary-very-low);

      td:first-child {
        border-left: solid 3px var(--tertiary);
      }
    }

    td.repo__status {
      text-align: right;
      padding-right: 0.5em;
    }
  }

  .updates-heading {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;

    h3 {
      line-height: 40px;
      margin-bottom: 0;
    }
  }

  .admin-repos th:last-child {
    text-align: center;
  }
}
