<header class="container">
  {{#link-to 'index'}}<img src="/assets/images/docker-manager-ea64623b074c8ec2b0303bae846e21e6.png" class="logo">{{/link-to}}
  <h1>{{#link-to 'index'}}Docker Manager{{/link-to}}</h1>
</header>

<div class="container">

  {{#if showBanner}}
    <div id="banner">
      <div id="banner-content">
        <div class="close" {{action dismiss}}><i class="fa fa-times" title="Dismiss this banner."></i></div>
        <p><b>WARNING:</b> Your Discourse is tracking the 'master' branch which may be unstable, <a href="https://meta.discourse.org/t/change-tracking-branch-for-your-discourse-instance/17014">we recommend tracking the 'tests-passed' branch</a>.</p>
      </div>
    </div>
  {{/if}}

  <ul class="nav nav-tabs">
    {{#x-tab route="index"}}Home{{/x-tab}}
    {{#x-tab route="processes"}}Processes{{/x-tab}}
  </ul>

  {{outlet}}
</div>
