<header class="container">
  {{#link-to 'index'}}<img src="/assets/images/docker-manager-ea64623b074c8ec2b0303bae846e21e6.png" class="logo">{{/link-to}}
  <h1>{{#link-to 'index'}}Upgrade{{/link-to}}</h1>
</header>

<div class="container">

  {{#if showBanner}}
    <div id="banner">
      <div id="banner-content">
        <div class="close" {{action "dismiss"}}><i class="fa fa-times" title="Dismiss this banner."></i></div>
        {{#each row in banner}}
        <p>{{{row}}}</p>
        {{/each}}
      </div>
    </div>
  {{/if}}

  <ul class="nav nav-tabs">
    {{#x-tab route="index"}}Versions{{/x-tab}}
    {{#x-tab route="processes"}}Processes{{/x-tab}}
    <li><a href='/'>Return to site</a></li>
    <li><a href='/admin/backups'>Backups</a></li>
  </ul>

  {{outlet}}
</div>
