<table class='table' id='repos'>
  <tr>
    <th style='width: 50%'>Repository Name</th>
    <th>Status</th>
  </tr>
  <tbody>
    {{#each model as |repo|}}
      {{repo-status repo=repo upgradingRepo=upgrading managerRepo=managerRepo upgrade="upgrade"}}
    {{/each}}
  </tbody>
</table>
