<button disabled={{upgradeAllButtonDisabled}} id="upgrade-all" class="btn" {{action "upgradeAllButton"}}>
  {{#if allUpToDate}}
    All Up-to-date
  {{else}}
    Upgrade All
  {{/if}}
</button>

<table class='table' id='repos'>
  <tr>
    <th></th>
    <th style='width: 50%'>Repository</th>
    <th>Status</th>
  </tr>
  <tbody>
    {{#each model as |repo|}}
      {{repo-status repo=repo upgradingRepo=upgrading managerRepo=managerRepo upgrade=(action "upgrade")}}
    {{/each}}
  </tbody>
</table>
