<div class="progress progress-striped {{if this.active 'active'}}">
  <div
    class="progress-bar progress-bar-striped
      {{if this.active 'progress-bar-animated'}}"
    style={{barStyle}}
  ></div>
</div>
