<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Docker Manager</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_include_tag "docker-manager-vendor" %>
  <%= javascript_include_tag "docker-manager-app" %>
  <%= javascript_include_tag "docker-manager-config" %>
  <%= stylesheet_link_tag "docker-manager-app" %>
</head>
<body>
  <script>
    window.App = require('docker-manager/app')['default'].create(ENV.APP);
  </script>

</body>
</html>
